In [7]:
import numpy as np
import pandas as pd
data=pd.read_csv('C:/Users/koppa/Downloads/0000000000002419_training_ccpp_x_y_train.csv')
data

        # T      V       AP     RH      EP
0      8.58  38.38  1021.03  84.37  482.26
1     21.79  58.20  1017.21  66.74  446.94
2     16.64  48.92  1011.55  78.76  452.56
3     31.38  71.32  1009.17  60.42  433.44
4      9.20  40.03  1017.05  92.46  480.38
...     ...    ...      ...    ...     ...
7171   9.32  37.73  1022.14  79.49  477.91
7172  11.20  41.38  1021.65  61.89  476.87
7173  29.80  69.34  1009.36  64.74  437.65
7174  16.37  54.30  1017.94  63.63  459.97
7175  30.11  62.04  1010.69  47.96  444.42

[7176 rows x 5 columns]

In [8]:
train_data=np.loadtxt('C:/Users/koppa/Downloads/0000000000002419_training_ccpp_x_y_train.csv',delimiter=",")
train_data.shape

(7176, 5)

In [9]:
test_data=np.loadtxt('C:/Users/koppa/Downloads/0000000000002419_test_ccpp_x_test.csv',delimiter=",")
test_data.shape

(2392, 4)

In [10]:
x_test=test_data

In [11]:
y_train=train_data[:,4]
y_train.shape

(7176,)

In [12]:
x_train=train_data[:,:4]
x_train.shape

(7176, 4)

In [13]:
def cost(points,M):
    total_cost=0
    N=points.shape[0]
    for i in range(N):
        x=points[i,:-1]
        x=np.append(x,1)
        y=points[i,-1]
        total_cost+=(1/N)*(y - (M * x).sum()) ** 2
    return total_cost

In [14]:
def step_gradient_descent(points,learning_rate,M):
    cols=points.shape[1]
    new_M=np.zeros(cols)
    N=points.shape[0]
    for i in range(N):
        x=points[i,:-1]
        x=np.append(x,1)
        y=points[i,-1]
        for j in range(cols):
            new_M[j] += (-2/N) * (y - (M*x).sum())*x[j]
        M=M-(learning_rate*new_M)
    return M

In [15]:
def gd(points,num_iterations,learning_rate):
    cols=train_data.shape[1]
    M=np.zeros(cols)
    for i in range(num_iterations):
        M=step_gradient_descent(points,learning_rate,M)
        print(i,"cost : ",cost(points,M))
    return M

In [20]:
def run():
    num_iterations=100
    learning_rate=0.0000001
    m=gd(train_data,num_iterations,learning_rate)
    return m[:-1],m[-1]

In [21]:
m,c=run()
print(m,c)

0 cost :  90860.49325576781
1 cost :  40261.235669723734
2 cost :  18067.943143300017
3 cost :  8263.225170991374
4 cost :  3886.4988378342146
5 cost :  1903.9207574405796
6 cost :  987.492839804649
7 cost :  552.32616505668
8 cost :  338.53516168718704
9 cost :  229.18729513028708
10 cost :  170.74249364471964
11 cost :  138.0994514478466
12 cost :  119.12312817294983
13 cost :  107.72201247858807
14 cost :  100.70391870399334
15 cost :  96.31832395676942
16 cost :  93.56203475397382
17 cost :  91.83700457056676
18 cost :  90.77479293717248
19 cost :  90.14246751258791
20 cost :  89.78987646363356
21 cost :  89.61885818773573
22 cost :  89.56460874454996
23 cost :  89.5840747172911
24 cost :  89.6485574201556
25 cost :  89.73891887312325
26 cost :  89.8424335840854
27 cost :  89.95070030019018
28 cost :  90.05824572379755
29 cost :  90.16158463824664
30 cost :  90.25858353656713
31 cost :  90.34802744391612
32 cost :  90.429323596789
33 cost :  90.50229781973366
34 cost :  90.56705403837002
35 cost :  90.623877036244
36 cost :  90.6731649997404
37 cost :  90.71538270289864
38 cost :  90.75102907501108
39 cost :  90.78061484736529
40 cost :  90.80464729978408
41 cost :  90.82362003054513
42 cost :  90.83800629085606
43 cost :  90.8482548548055
44 cost :  90.85478769037458
45 cost :  90.8579989064805
46 cost :  90.85825459723365
47 cost :  90.85589330849308
48 cost :  90.8512269276297
49 cost :  90.84454185118464
50 cost :  90.83610032369086
51 cost :  90.82614187105763
52 cost :  90.81488477272922
53 cost :  90.8025275323679
54 cost :  90.78925031923535
55 cost :  90.77521636034578
56 cost :  90.76057327077993
57 cost :  90.74545431426893
58 cost :  90.72997958929851
59 cost :  90.71425713898202
60 cost :  90.69838398520426
61 cost :  90.68244708858046
62 cost :  90.66652423560656
63 cost :  90.65068485822484
64 cost :  90.63499078764717
65 cost :  90.6194969465514
66 cost :  90.60425198444878
67 cost :  90.5892988589422
68 cost :  90.57467536750443
69 cost :  90.56041463294403
70 cost :  90.54654554677974
71 cost :  90.53309317274264
72 cost :  90.5200791150389
73 cost :  90.50752185297833
74 cost :  90.49543704563585
75 cost :  90.48383780881525
76 cost :  90.4727349665279
77 cost :  90.46213727925834
78 cost :  90.4520516518937
79 cost :  90.44248332121167
80 cost :  90.43343602706909
81 cost :  90.42491216681013
82 cost :  90.41691293553967
83 cost :  90.40943845341529
84 cost :  90.40248788037768
85 cost :  90.39605952050277
86 cost :  90.39015091639412
87 cost :  90.38475893435617
88 cost :  90.37987984168731
89 cost :  90.37550937622451
90 cost :  90.37164280986764
91 cost :  90.36827500510942
92 cost :  90.36540046689205
93 cost :  90.36301338895089
94 cost :  90.36110769565002
95 cost :  90.3596770800845
96 cost :  90.35871503781603
97 cost :  90.35821489803268
98 cost :  90.3581698510194
99 cost :  90.35857297304071
[-1.04961804 -0.57027738  0.49242692 -0.00970785] 0.0005540213426268393

In [22]:
def predict(x,m,c):
    N=x.shape[0]
    y=np.zeros(N)   # gives an array with all zeroes of size 127 since shape of x is (127,13) 
    for i in range(N):
        x_points=x[i,:]
        y[i]=(m*x_points).sum()+c
    return y
    
y_predict=predict(test_data,m,c)
print(y_predict.shape)
y_predict

(2392,)

array([463.69030159, 463.3917832 , 423.42771643, ..., 432.70399593,
       449.60433722, 443.72783519])

In [23]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import preprocessing
regressor=GradientBoostingRegressor()
x_train=train_data[:,:-1]
y_train=train_data[:,-1]
regressor.fit(x_train,y_train)
y_pred=regressor.predict(test_data)
y_pred

array([470.56174391, 472.66297342, 435.27765416, ..., 438.71921598,
       452.8264231 , 445.09956345])

In [24]:
y_pred.shape

(2392,)

In [25]:
np.savetxt('gdcombined_cycle_pred.csv',y_pred,delimiter=",")